<form action="/pirates" method="post">
  <input type="text" name="pirate[name]" value="">
  <input type="text" name="pirate[weight]" value="">
  <input type="text" name="pirate[height]" value="">
  <input type="text" name="pirate[ships][0][name]" value="">
  <input type="text" name="pirate[ships][0][type]" value="">
  <input type="text" name="pirate[ships][0][booty]" value="">
  <input type="text" name="pirate[ships][1][name]" value="">
  <input type="text" name="pirate[ships][1][type]" value="">
  <input type="text" name="pirate[ships][1][booty]" value="">
  <input type="submit" name="submit" value="Submit">
</form>
